body{
    font-family:'Roboto';
}

/* Header */
.header-section .container{
    display: flex;
    height: 80px;
    width: 1600px;
}
.header-navigation{
    display: flex;
}
.header-title{
    font-family:'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}
.title-color{
    color: #2196F3;
}
.header-section{    
    display: flex; 
    padding-top: 11px;
    padding-bottom: 13px;
    align-items: center;
}
.header-pages{    
    display: flex;
    align-items: center;
}    
.header-contacts{    
    display: flex;
    align-items: center;
}    
.header-list{    
    padding-left: 93px;
}     
.header-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
.header-item{
    margin-left: 100px;
}
.header-link:hover{
    color: #2196F3;
}
.header-mail{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.header-mail:hover{   
    color: #2196F3;
}
.header-tel{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.header-tel:hover{   
    color: #2196F3;
}

/* Hero-section */
.benefits-list{
    display: flex;
}
.hero-section{
    background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../Img/Studia/heroImg.jpg);
    background-size: contain;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-logo{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: white;
}
.hero-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;  
    border: 0;
    margin: auto;
    height: auto;
    width: auto;
    color:#FFFFFF;
    background: #2196F3;
}
.benefits-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.benefits-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
/* Чим ми займаємось */
.images-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.work-item{
    /* margin-right: 30px; */
    margin: auto;
}
.work-list{
    display: flex
}
/* Наша-команда */
.team-title{
    align-items: center;
}
.team-list{
    display: flex;
}
.team-item{
    margin: auto;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-names{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-jobs{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
.team-image{
    width: 270px;
    height: 260px;
}

/* Секція-футер */
.footer-title{
    font-family:'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}
.footer-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
.footer-link:hover{
    color: #2196F3;
}
.footer-mail{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.footer-mail:hover{   
    color: #2196F3;
}
.footer-tel{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.footer-tel:hover{   
    color: #2196F3;
}
.footer-adress{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    background: #2F303A;
    color: #FFFFFF; 
}

