.header-title{
    text-decoration: none;
}
.navigation-list{
    list-style-type: none;
}
.navigation-link{
    text-decoration: none;
}
.navigation-mail{
    text-decoration: none;
}
.navigation-tel{
    text-decoration: none;
}
.section-list{
    list-style-type: none;
}
.list-buttons{
    list-style-type: none;
}
.footer-title{
    text-decoration: none;
}
.footer-navigation-list{
    list-style-type: none;
}